html {
	background: #EBDD01;
	background: -webkit-radial-gradient(top left, #EBDD01, #9E5F02);
	background: -moz-radial-gradient(top left, #EBDD01, #9E5F02);
	background: radial-gradient(top left, #EBDD01, #9E5F02);

}

.main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;

	height: 100vh;
}

.base {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;
}

.characteristic {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 60px;
	height: 180px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 10px;
	text-align: center;

	font-size: 32px;

	box-shadow: 5px 5px 10px grey;
}

.cost {
	font-size: 20px;
	width: 58px;
	border: 1px solid black;
}

/*.cost:before {
  content: "+";
}*/

.counter {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid black;
	border-radius: 10px;
	width: 58px;
	height: 30px;
	/*padding-top: 5px;
	padding-bottom: 5px;*/
}

.counter:hover {
	background: #1d2120;
	color: white;
}

.plus {
	margin-top: -1px;
}

.minus {
	margin-bottom: -1px;
}

.points {
  width: 50px;
  height: 50px;
  font-size: 25px;
}

.options {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	width: 100%;
}

.option {
	margin-left: 10px;
	margin-right: 10px;
}

.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	margin: 24px;
}

.char_name {
	word-break: break-all;
	font-size: 18px;
}

.subrace {
	width: 180px;
}

.hidden {
  display: none;
}